<section>
    <header>
      <h2>Fonctionnement</h2>
    </header>
    <nav class="working">
        <a href="#" class="working__btn">
          <div class="btn-label">
            <span class="btn-label__num">1</span>
            <span class="fa-solid fa-mobile-screen-button btn-label__icon"></span>
          </div>
          <p>Choisissez un restaurant</p>
        </a>
        <a href="#" class="working__btn">
          <div class="btn-label">
            <span class="btn-label__num">2</span>
            <div class="btn-label__icon">
              <span class="fa-solid"></span>
            </div>
          </div>
          <p>Composez votre menu</p>
        </a>
        <a href="#" class="working__btn">
          <div class="btn-label">
            <span class="btn-label__num">3</span>
            <span class="fa-solid fa-store btn-label__icon"></span>
          </div>
          <p>Dégustez au restaurant</p>
        </a>       
    </nav>
</section>