//Configuration du bas de page
footer{
    background-color: lighten(black,20%);
    color: white;
    height: 250px;
    padding-top: 30px;
    padding-left: 7%;
    mark{
        color: white;
        font-weight: normal;
        padding-left: 0;
    }
    h2{
        margin-top: 0;
        font-size: 1.4em;
        margin-left: 0;
        text-align: left;
    }
    li:first-child{
        margin-left: 5px;
    }
    li{
        
        margin-bottom: 10px;
        display: flex;
        font-size: 1em;
        span{
            margin-right: 8px;
            font-size: 0.8em;
        }
    }
    .fa-handshake-angle{
        transform: rotate(-12deg);
        margin-left: 2px;
        font-size: 0.7em;
    }
}
//La partie media queries
@media screen and (min-width:520px) {
    footer{
        h2{
            font-size: 1.6em;
        }
        li{
            font-size: 1.3em;
        }
    }
}
