//Configuration de l'entête de la page
.header{
    height: 60px;
    display: flex;
    justify-content: center;
    position: relative;
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 50%;  
    }
    img{
        position: absolute;
        width: 60%;
        max-width: 12em;
    }
}

@media screen and (min-width:520px){
    .header{
        height: 80px;
    }
}
