//Configuration de mes cartes de restaurants 
.card{  
    width: 85%;
    max-width: 400px;
    margin-bottom: 30px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 4px 10px 1px rgba(200, 205, 205, 0.75);
    &:hover{
        box-shadow: 0 4px 10px 1px rgba(200, 205, 205, 1);
    }
    img
    {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 180px;
        -o-object-fit: cover;
            object-fit: cover;
        display:flex;
        margin:auto; 
    }
    
    &__figcaption{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 75px;
        background-color: white;
        border-radius:0 0 20px 20px;
        position: relative;
        padding-left: 20px;
        justify-content: center;
        p{
            font-size: 1em;
            margin-top: 5px;
            opacity: 0.7;
        }
        //importation des pseudos éléments constituant le coeur avec son animation
        @import "./heart";
        .fa-heart{
            font-size: 1.6em;
        }
    }
}

//Partie media queries de mes cartes
@media screen and (min-width:520px) {
    .card{
        &__figcaption{
            height:100px;
            p{
                font-size: 1.4em;
            }
            .fa-heart{
                font-size: 2.1em;
            }
        }
    }
}

@media screen and (min-width: 768px){
    .card{
        margin-left: 15px;
        margin-right: 15px;
    }
}