//Configuration de mon bloc spinning-loader
.loader{
    width:100%;
    height: 100vh;
    background-color: #282937;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 19px;
    animation: loader-closing 500ms 2.5s forwards;
    &__circle{
        width: 300px;
        height: 300px;
        border: 3px solid white;
        border-radius: 50%;
        // Appel de 2 animations pour le cercle car le spinning ne doit pas prendre un alternate en paramètre;
        animation: linear 3s loader-spinning,
                   alternate linear 3s loader-shadow;
    }
    p{
        font-family: "Shrikhand";
        font-size: 1.6em;
        position: absolute;
        opacity: 0.98;   
    }
}

// Animation sur l'ombre portée du cercle
@keyframes loader-shadow{
    0%{
        box-shadow: 
        0 0 0 $color-primary,
        0 0 0 $color-tertiary,
        0 0 0 $color-secondary,
        0 0 0 $color-tertiary;
    }
    100%{
        box-shadow: 
        0 -10px 0 $color-primary,
        -10px 0 0 $color-tertiary,
        0 10px 0 $color-secondary,
        10px 0 0 $color-tertiary;
    }
}
//Animation du spinning
@keyframes loader-spinning {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
//Animation de fermeture de mon bloc loader
@keyframes loader-closing{
    0%{
        transform:translateY(0);
        opacity:1;
    }
    100%{
        opacity: 0;
        transform:translateY(-100vh);
    }
}