// Configuration du boutton de navigation pour la section restaurant
&__navigation{
    width: 100%;
    font-size: 1em;
    &__button{
        display: flex;
        opacity: 0.9;
        height: 55px;
        width:62%;
        max-width: 300px;
        justify-content: center;
        align-items: center;      
        margin: 0 auto 60px auto;
        @include button($color-primary,$color-secondary);
    }
}
//Partie media queries du boutton de navigation
@media screen and (min-width:520px) {
    &__navigation{
        &__button{
            height: 60px;
        }
        font-size: 1.3em;
    }
}