<section class="information">
    <div class="information__position">
      <span class="fa-solid fa-location-dot"></span>
      <p>Paris, Belleville</p>
    </div>
    <header>
      <h2><strong>Réservez le menu qui vous convient</strong></h2>
    </header>
    <p class="information__description">Découvrez des restaurants d'exception, séléctionnés par nos soins.</p>
    <nav class="information__navigation">
      <a href="#nav-exploring" class="information__navigation__button">
        <p>Explorer nos restaurants</p>
      </a>   
    </nav>
  </section>
