// Importations des polices + initialisation du box sizing sur tous mes éléments
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Shrikhand&display=swap');

*{
    box-sizing: border-box;
}
h1,h2,h3{
    font-family: "Shrikhand","sans-serif";
    font-weight: normal;
}

p,li{
    font-family: "Roboto","sans-serif";   
}

a{
    color: inherit;
}

